@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Agency";
  src: url("/fonts/AgencyFBBold.ttf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .wrapper {
    @apply flex justify-start items-center flex-col w-full;
  }
  html {
    @apply /* scroll-smooth */ scroll-pt-[140px];
  }
}

html body.smooth {
  scroll-behavior: smooth;
}

.parallaxhero{
height: 100vh;
position: relative;
margin-top:-100px;
}
.video-wrap {
  position: relative;
  padding-bottom: 50.25%;
  height: 0;
  margin: 0 auto;
  display:inline-block;
}

.video-react {
  background-color: transparent !important;
}
#tokenomics .video-react {
  padding-top: 40% !important;
}
@media only screen and (max-width:1500px){
.bg-hero {
    /* background-size: 1500px auto; */
    background-position: 95% 50%;
}
}
@media only screen and (max-width: 767px){
  .video-wrap {
    padding-bottom: 0px;
    display:auto;
    height:100%;
}
.bg-hero {
  /* background-size: 1500px auto; */
  background-position: 82.5% 50%;
}
}

@media only screen and (max-width: 650px){
#tokenomics .video-react {
  padding-top: 100% !important;
  margin-top:-100px;
  z-index:1;
}
}
